<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<title th:text="${autore.cognome}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" />
<body>
	<!-- <img th:src="@{${'/img/icons/' + opera.operaId + '.png'}}" /> -->
	
	
	<div>
		<h1> Autore inserito: </h1>
		  <p th:text=" #{label.nome}  + ${autore.nome}" />
	</div>
	<div>
		<p th:text="  #{label.cognome}  +${autore.cognome}" />
	</div>
	<div>
		<p th:text="  #{label.nazionalita} +${autore.nazionalita}" />
	</div>
	<div>
		<p th:text=" #{label.dataNascita} + ${autore.dataNascita}" />
	</div>
	<div>
		<p th:text=" #{label.dataMorte} + ${autore.dataMorte}"
			th:if="${autore.dataMorte}" />
	</div>
	
	<a th:href ="@{/home/opere/autore(id=${autore.id})}"> Opere	</a>

	<form sec:authorize="hasRole('ROLE_ADMIN')" action="#" th:action="@{/home/autori/autore}"
		th:object="${autore}" method="post">
		<input type="hidden" th:field="${autore.id}" /> 
		<button type="submit"  value="cancella" name="delete" class="btn btn-danger btn-sm">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		Cancella
		</button>
	</form>

	<br/>
	<br/>
	<a href="/home"> <span class="glyphicon glyphicon-home"> </span> <b></b>
		torna alla home
	</a>
	
	<script src="/jquery/jquery-3.2.1.min.js"></script>
	<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>

</body>
</html>