<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inserisci una nuova opera</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
	    <body>
        <form action="#" th:action="@{/addOpera}" th:object="${opera}" method="post">
            
                <div>
                    <span th:text="#{label.titolo}">Title: </span>
                    <span><input type="text" th:field="*{titolo}" /></span>
                    <span th:if="${#fields.hasErrors('titolo')}" th:text="#{label.mandatory}">Error</span>
                </div>
                <div>
                    <span th:text="#{label.anno}">Anno: </span>
                    <span><input type="text" th:field="*{anno}" /></span>
                    <span th:if="${#fields.hasErrors('anno')}" th:text="#{label.mandatory}">Error</span>
                </div>
                
		<div> <p> Scegli un autore: </p>
			<select name="dropAutore" id="dropAutore" th:field="*{autore}">
			<option value="0"> seleziona artista </option>
			<option th:each="autore : ${autori}" th:value="${autore.id}" th:text="${autore.cognome}"> </option>
			</select>

		</div>
		<div>
					<span><button type="submit">Invia</button></span>
				</div>
			</form>
    </body>
</html>