<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Inserisci una nuova opera</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<h1>Inserisci una nuova opera :</h1>
	<form action="#" th:action="@{/admin/addOpera}" th:object="${opera}" id="opera" method="post">

		<div>
			<span th:text="#{label.titolo}">Title: </span> <span><input
				type="text" th:field="*{titolo}" /></span> <span
				th:if="${#fields.hasErrors('titolo')}" th:text="#{label.mandatory}">Error</span>
		</div>
		<div>
			<span th:text="#{label.anno}">Anno: </span> <span>
			<input
				type="text" th:field="*{anno}" /></span> <span
				th:if="${#fields.hasErrors('anno')}" th:text="#{label.mandatory}">Error</span>
		</div>

		<div>
			<p>Scegli un autore:</p>
			<select name="dropAutore" id="dropAutore" th:field="*{autore}">
				<option value="0">seleziona artista</option>
				<option th:each="autore : ${autori}" th:value="${autore.id}"
					th:text="${autore.cognome}"></option>
			</select>

		</div>
		
		<div>
			<span th:text="#{label.descrizione}">Description: </span> 
			<span> <textarea name="description" th:field="*{descrizione}" form="opera">Enter description here...</textarea></span>
		</div>
			
		<div>
			<span><button type="submit" class="btn btn-success btn-sm">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						Invia
					</button> </span>
		</div>
	</form>
	
	<br/>
	<br/>
	<a href="/home" th:text="#{label.home}"> <span class="glyphicon glyphicon-home"> </span> <b></b>
		Back to homepage
	</a>
	<script src="/jquery/jquery-3.2.1.min.js"></script>
	<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>