<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title> Benvenuto nella Galleria! </title>
</head>
	
<body>
<h1>Benvenuto nella gallery!</h1>
<p> Scegli cosa vuoi vedere </p>
	<p> <a href="/home/opere"> Opere</a> </p>
	
	<p> <a href="/home/autori"> Artisti </a> </p>
	
	<!--  <div sec:authorize="hasRole('ROLE_ADMIN')"> </div> -->
	
	
	<p> <a href="/home/addOpera"> Inserisci nuova Opera </a> </p>
	
	<p> <a href="/home/addAutore"> Inserisci nuovo Artista </a> </p>
	
	
</body>
</html>