<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<title> logout </title>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/bootstrap-3.3.7/css/style.css" />

</head>
	
<body>

<p> logout effettuato con successo </p>

	
	 <script src="/jquery/jquery-3.2.1.min.js"></script>    
<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>