<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title> Opere </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/bootstrap-3.3.7/css/opereStyle.css" />
</head>

<body>
<div class="container">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
   
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
 
    </div>
    
 <!-- class="active"  -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li><a href="/home" th:text="#{label.home}"> Home <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/home/opere/titolo"> Opere <span class="sr-only">(current)</span></a></li>
        <li ><a href="/home/autori">Artisti <span class="sr-only">(current)</span></a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/addAutore">Inserisci nuovo artista</a></li>
            <li><a href="/admin/addOpera">Inserisci nuova opera </a></li>
            <li><a href="/admin/authAdmin">Autorizza un altro admin</a></li>
          </ul>
        </li>
        <li>
	<form class="navbar-form navbar-left" role="search" th:action="@{/logout}" method="post">>
  <button class="btn btn-link" type="submit">Logout</button>
</form>
		</li>
      </ul>
     
    </div>
  </div>
</nav>
<br/>

	
	<h1> Opere: </h1>
	
	<h3 > <a href="/home/opere/anno">    ordinate per anno <span class="glyphicon glyphicon-list"> </span></a>  </h3>
	
	
	<div class="list-group" th:each="opera : ${opere}">
		<a class="list-group-item" th:href="@{/home/opere/opera(id=${opera.id})}" th:text="${opera.titolo}">
			
		</a>
	</div>
	
	 <br/>
	 <br/>
	 
	 </div>
	<script src="/jquery/jquery-3.2.1.min.js"></script>
	<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>