<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<title th:text="${opera.titolo}"></title>
<body>
	<!-- <img th:src="@{${'/img/icons/' + opera.operaId + '.png'}}" /> -->
	<div>
    	<p th:text=" ${opera.titolo}" />
    </div>
	<div>
    	<p th:text=" ${opera.anno}" />
    </div>
	<div>
    	<p th:text="'Autore: ' + ${opera.autore.cognome}" />
    </div>
    
   <!--  <div sec:authorize="hasRole('ROLE_ADMIN')"> </div> -->
   <form action="#" th:action="@{/home/opere/opera}" th:object="${opera}" method="post">
   <input type="hidden" th:field="${opera.id}"/>
	<input type="submit" value="cancella" name="delete" />
	</form>
            
   
   
   <div>
  <a href="/home/addOpera"> inserisci un'altra opera </a>
  </div>
 <div> <a href="/home"> torna alla home </a></div>
</body>
</html>