<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<title th:text="${opera.titolo}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" />
<body>
	<!-- <img th:src="@{${'/img/icons/' + opera.operaId + '.png'}}" /> -->
	<h1> Opera inserita: </h1>
	<div>
    	<p th:text=" #{label.titolo}  + ${opera.titolo}" />
    </div>
	<div>
    	<p th:text=" #{label.anno}  +${opera.anno}" />
    </div>
	<div>
    	<p th:text="#{label.autore}"> Artist: </p>
    	<a th:href="@{/home/autori/autore(id=${opera.autore.id})}" th:text="${opera.autore.cognome}"> </a>
    </div>
    
    <div>
		<p th:text="#{label.descrizione}">Description:</p>
		<p th:text="${autore.descrizione}" />
	</div>
    
   <!--  <div sec:authorize="hasRole('ROLE_ADMIN')"> </div> -->
  
  <form sec:authorize="hasRole('ROLE_ADMIN')" action="#" th:action="@{/home/opere/opera}"
		th:object="${opera}" method="post">
		<input type="hidden" th:field="${opera.id}" /> 
		<button type="submit"  value="cancella" name="delete" class="btn btn-danger btn-sm">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		Cancella
		</button>
	</form>
   
   <br/>
   <br/>
   
   <div>
  <a href="/home/addOpera"> <span class="glyphicon glyphicon-repeat "> </span>inserisci un'altra opera </a> <b></b>
  </div>
	
	<a href="/home" th:text="#{label.home}"> <span class="glyphicon glyphicon-home"> </span> <b></b>
		torna alla home
	</a>
	
	<script src="/jquery/jquery-3.2.1.min.js"></script>
	<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>

</body>
</html>